# ===== DATA & DATASETS =====
data/*
!data/README.md

# ===== DOCUMENTS =====
documents/*
!documents/README.md

# ===== MODELS =====
models/*
!models/README.md
models/precomputed/*.zip
!models/precomputed/Facenet_mtcnn_embeddings.pkl
!models/precomputed/Facenet_retinaface_embeddings.pkl
!models/precomputed/Facenet512_mtcnn_embeddings.pkl
!models/precomputed/Facenet512_retinaface_embeddings.pkl

# ===== APP GENERATED DATA =====
app/app/.venv/
app/app/models/precomputed/
app/app/app/faces_db/
app/app/app/registered_faces/embeddings_cache.pkl
app/app/app/temp_uploads/

# ===== LOGS & EXPERIMENT OUTPUTS =====
logs/
logs.rar
app/app/reports/reports/runs/

# ===== REPORTS =====
reports/images/
reports/words/

# ===== PYTHON CACHE =====
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# ===== VIRTUAL ENVIRONMENTS =====
.venv/
venv/
env/

# ===== TRAINED MODEL FILES =====
*.keras
*.h5

# ===== ARCHIVES =====
*.rar
*.zip
*.tar.gz
*.7z

# ===== GENERATED REPORTS & DATA =====
*.xlsx

# ===== SECRETS =====
.env

# ===== OS / EDITOR =====
.DS_Store
Thumbs.db
.vscode/
.idea/
