
data/*
!data/README.md
!data/.gitkeep 


# Ignore all files in models
models/*

# Except README.md
!models/README.md

# documents
documents/*
!documents/README.md

# Python cache
__pycache__/
*.pyc
*.pyo